/* Wymuszenie białego tła dla trybu JASNEGO */
:not([data-theme="dark"]) body {
    --theme: #ffffff !important;
    background-color: var(--theme) !important;
}
/* Usuwa tło, obramowanie i cienie z kart wpisów */
.post-entry {
    background: none !important;
    box-shadow: none !important;
    border: none !important;
    border-bottom: 1px solid var(--border) !important;
    border-radius: 0 !important;
}
/* element tagu na stronie tagów */
.terms-tags a {
    border-radius: 0 !important;
    background: var(--secondary-hover) !important;
}
.terms-tags a:hover {
    color: var(--secondary) !important;
}
/* element tagu na stronie wpisu */
.post-tags a {
    border-radius: 0 !important;
}
h1 {
    font-size: 2.0rem !important;
}
h2 {
    font-size: 1.6rem !important;
}
.post-content h3 {
    font-size: 1.4rem !important;
}
.post-title {
    font-size: 2.0rem !important;
}
/* logo w nagłówku */
.logo img {
    border-radius: 50% !important;
    margin-right: 15px !important;
    vertical-align: middle;
    object-fit: cover;
}
.logo a {
    display: flex;
    align-items: center;
}