/* Fonts */
@font-face {
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('/fonts/FiraSans-Regular.woff2') format('woff2');
}
@font-face {
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('/fonts/FiraSans-Bold.woff2') format('woff2');
}
@font-face {
    font-family: 'Fira Code';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('/fonts/FiraCode-Regular.woff2') format('woff2');
}
:root {
    --font-family: 'Fira Sans', sans-serif;
    --code-font-family: 'Fira Code', monospace;
}
body {
    font-family: var(--font-family);
}
code, pre, time {
    font-family: var(--code-font-family) !important;
    font-variant-ligatures: contextual;
    /* Aktywuje strzałki i operatory */
    text-rendering: optimizeLegibility;
}

/* Wymuszenie białego tła dla trybu JASNEGO */
:not([data-theme="dark"]) body {
    --theme: #ffffff !important;
    background-color: var(--theme) !important;
}

/* Usuwa tło, obramowanie i cienie z kart wpisów */
.post-entry {
    background: none !important;
    box-shadow: none !important;
    border: none !important;
    border-bottom: 1px solid var(--border) !important;
    border-radius: 0 !important;
}

/* element tagu na stronie tagów */
.terms-tags a {
    border-radius: 0 !important;
    background: var(--secondary-hover) !important;
}
.terms-tags a:hover {
    color: var(--secondary) !important;
}

/* element tagu na stronie wpisu */
.post-tags a {
    border-radius: 0 !important;
}
h1 {
    font-size: 2.0rem !important;
}
h2 {
    font-size: 1.6rem !important;
}
.post-content h3 {
    font-size: 1.4rem !important;
}
.post-title {
    font-size: 2.0rem !important;
}

/* Główny kolor akcentu (np. dla linków i przycisków) */
:root {
    --primary: #073c44;
}

/* Stylowanie kontenera logo */
.logo {
    display: flex;
    align-items: center;
}

/* Tworzenie kółka z inicjałem przed tekstem */
.logo a::before {
    content: "L.";
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    margin-right: 12px;
    padding-left: 3px;
    border: 2px solid var(--primary);
    border-radius: 50%;
    font-size: 20px;
    font-weight: 600;
}
/* Dostosowanie wyglądu samego tekstu tytułu */
.logo a {
    display: flex;
    align-items: center;
    flex-grow: 1;
}
.logo a:hover::before {
    background: var(--primary);
    color: var(--theme);
    /* Odwrócenie kolorów przy najechaniu */
    transition: 0.3s;
}

/* Przesuwa przycisk motywu na prawą stronę */
div.logo {
    margin-right: auto;
    flex-grow: 1;
}
